* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffb5a7;
  position: fixed;
}

.stackIcon {
  width: 100px;
  height: auto
}

/* background: #F8CA45; */