* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffb5a7;
	position: fixed;
}

.iconBg {
	display: flex;
	background: #ffe6a1;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.stackIcon {
	display: inline-block;
	width: 100px;
	height: auto;
	justify-self: center;
	pointer-events: none;
}

.profileImage {
	object-fit: cover;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	align-self: center;
}

.iphoneImg {
	width: 20vw;
	padding: 10px;
}

.laptopImg {
	width: 80vw;
	padding: 10px;
}

#hint {
	background: #fff8dc;
	border-radius: 50px;
	padding-right: 15px;
	padding-left: 52px;
	height: 42px;
	margin-left: -53px;
	margin-top: -2px;
	margin-bottom: 2px;
	z-index: -1;
}

.popper {
	background: #fff8dc;
	border-radius: 50px;
	padding: 10px;
	opacity: 80%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 667px) {
	.profileImage {
		height: 200px;
		width: 200px;
	}

	#hint {
		position: absolute;
    left: 60px;
		padding-right: 15px;
		padding-left: 40px;
		margin-left: -37px;
	}

	.iconBg {
		width: 70px;
		height: 70px;
	}

	.stackIcon {
		width: 50px;
		height: auto;
	}

	.iphoneImg {
		width: 70vw;
		padding: 10px;
	}
}
